*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header {
	padding: 15px 0 14px;
}
.logo {
	width: 270px;
	height: 71px;
}
.contats {
	float: right;
	padding: 22px 0 26px;
}
.contats__elem {
	float: left;
	font-family: "RobotoLight", sans-serif;
	font-size: 18px;
	margin-left: 44px;
}
.contats__elem:first-child {
	margin-left: 0;
}
.contats__elem .mailto {
	font-family: "RobotoMedium", sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #007bc2;
}
.contats__elem .mailto:hover {
	text-decoration: none;
}
.contats__elem .bold {
	font-family: "RobotoBold", sans-serif;
}
.contats__elem .icon {
	font-size: 20px;
	color: #000;
	margin-right: 10px;
}
.contats__elem .icon-mail {
	margin-right: 13px;
	vertical-align: middle;
}
.contats__elem .icon-phone {
	margin-right: 4px;
}
.navigation {
	background-color: #e6e6e6;
	padding: 16px 0 15px;
	text-align: center;
}
.nav {
	font-family: "RobotoMedium", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav__item {
	display: inline-block;
	margin: 0 50px;
}
.nav__itemlnk {
	color: #000;
}
.nav__itemlnk:hover {
	color: #007bc2;
}
.bgvideo {
	text-align: center;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.bgvideo__video {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bgvideo__inner {
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bgvideo__h1 {
	font-family: "RobotoBold", sans-serif;
	font-size: 50px;
	color: #f5f200;
	text-transform: uppercase;
	margin: 200px 0 155px;
}
.bgvideo__h2 {
	font-family: "RobotoLight", sans-serif;
	font-size: 40px;
	color: #fff;
}
.bgvideo__btns {
	font-size: 1px;
	width: 772px;
	position: absolute;
	bottom: 275px;
	left: 50%;
	margin-left: -386px;
}
.btn-bg {
	display: inline-block;
	width: 270px;
	height: 60px;
	background-repeat: no-repeat;
	font-size: 16px;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 19px;
	position: relative;
}
.btn-bg-blue {
	background-image: url(../img/button-blue.png);
	color: #007bc2;
	margin-right: 230px;
}
.btn-bg-green {
	background-image: url(../img/button-green.png);
	color: #009640;
}
.forwho {
	height: 820px;
	position: relative;
}
.forwho__bgl {
	width: 937px;
	height: 100%;
	background-image: url(../img/bg2-left.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
}
.forwho__bgr {
	width: 936px;
	height: 100%;
	background-image: url(../img/bg2-right.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
}
.arrow-left {
	width: 73px;
	height: 299px;
	background-image: url(../img/arrow1left.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 260px;
	top: -258px;
}
.arrow-right {
	width: 73px;
	height: 299px;
	background-image: url(../img/arrow1right.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 262px;
	top: -258px;
}
.hexagon {
	text-align: center;
	position: relative;
}
.hexagon_blue {
	width: 570px;
	height: 492px;
	background-image: url(../img/hexagon1.png);
	background-repeat: no-repeat;
	padding: 50px 0 0 0;
}
.hexagon_green {
	width: 570px;
	height: 492px;
	background-image: url(../img/hexagon2.png);
	background-repeat: no-repeat;
	padding: 50px 0 0 0;
}
.hexagon_orange {
	width: 687px;
	height: 470px;
	background-image: url(../img/hexagon3.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
	left: 9px;
	top: -142px;
}
.hexagon__text {
	color: #fff;
	font-size: 22px;
	line-height: 40px;
	font-family: "RobotoLight", sans-serif;
}
.hexagon__htext {
	color: #fff;
	font-size: 24px;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	margin-top: 23px;
}
.hexagon__top {
	width: 200px;
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -109px;
}
.hexagon__left{
	width: 215px;
	position: absolute;
	left: 33px;
	top: 215px;
}
.hexagon__right {
	width: 215px;
	position: absolute;
	right: 38px;
	top: 215px;
}
.hexagon__toptext {
	color: #4d2804;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "RobotoBold", sans-serif;
	padding-bottom: 34px;
	background-image: url(../img/hr.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
.hexagon__upper {
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.hexagon__light {
	color: #4d2804;
	font-family: "RobotoLight", sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.advantage {
	height: 1430px;
	background-color: #f3f3f3;
	background-image: url(../img/bg-advantage.jpg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: relative;
}
.blocktitle {
	color: #000;
	font-size: 36px;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 26px;
	background-image: url(../img/hr2.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	margin-bottom: 15px;
}
.blocktitle_2row {
	font-size: 24px;
}
.arrow-blue {
	width: 118px;
	height: 1390px;
	background-image: url(../img/arrow-blue.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 32px;
	top: -1290px;
}
.arrow-green {
	width: 45px;
	height: 738px;
	background-image: url(../img/arrow-green.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 65px;
	top: -622px;
}
.arrow-orange-left {
	width: 182px;
	height: 1068px;
	background-image: url(../img/arrow-orange-l.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
	top: -1010px;
}
.arrow-orange-right {
	width: 84px;
	height: 403px;
	background-image: url(../img/arrow-orange-r.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 175px;
	top: -355px;
}
.advantage__container {
	position: relative;
	top: -67px;
}
.advantage__hexagons {
	min-height: 464px;
	position: relative;
}
.hexagon__red {
	width: 630px;
	height: 715px;
	background-image: url(../img/hexagon4.png);
	background-repeat: no-repeat;
	padding: 194px 105px 175px;
	position: absolute;
	right: -15px;
	top: -3px;
}
.hexagon__logo1 {
	width: 283px;
	height: 51px;
}
.hexagon__logo2 {
	width: 290px;
	height: 49px;
}
.list {
	margin: 50px 0 0 0;
	padding: 0 0 0 32px;
	list-style: none;
	color: #fff;
	font-family: "RobotoRegular", sans-serif;
	font-size: 22px;
	line-height: 26px;
	text-align: left;
}
.list__item {
	display: block;
	margin-bottom: 45px;
	position: relative;
}
.list__item:last-child {
	margin-bottom: 0;
}
.list__item-icon {
	font-size: 15px;
	position: absolute;
	top: 5px;
	left: -32px;
}
.hexagon__white1 {
	width: 530px;
	height: 600px;
	padding: 180px 90px 160px;
	background-image: url(../img/hexagon5.png);
	background-repeat: no-repeat;
	position: absolute;
	left: -14px;
	top: -31px;
}
.hexagon__white2 {
	width: 530px;
	height: 600px;
	padding: 180px 90px 160px;
	background-image: url(../img/hexagon5.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 149px;
	left: -15px;
}
.hexagon__white-text {
	color: #000;
	font-size: 17px;
	font-family: "RobotoMedium", sans-serif;
}
.hexagon__white-border {
	width: 318px;
	height: 1px;
	border-bottom: 1px dashed #d2d2d2;
	margin: 25px 0;
}
.hexagon__green2 {
	width: 630px;
	height: 715px;
	padding: 194px 105px 175px;
	background-image: url(../img/hexagon6.png);
	background-repeat: no-repeat;
	position: absolute;
	left: -15px;
}
.whowe {
	padding: 30px 0;
	background-repeat: no-repeat;
	background-position-y: 50%;
}
.whowe_bgcolor {
	background-color: #f3f3f3;
}
.whowe_bgr {
	background-image: url(../img/bgwhor.png);
	background-position-x: 100%;
}
.whowe_bgl {
	background-image: url(../img/bgwhol.png);
	background-position-x: 0;
}
.blocktitle_whowe {
	margin: 47px auto 33px;
}
.whowe__icon {
	width: 170px;
	height: 196px;
	background-image: url(../img/hexagon-icons.png);
	background-repeat: no-repeat;
}
.whowe__icon1 {
	background-position: 0 0;
}
.whowe__icon2 {
	background-position: -171px 0;
}
.whowe__icon3 {
	background-position: -342px 0;
}
.whowe__icon4 {
	background-position: -513px 0;
}
.whowe__icon5 {
	background-position: -684px 0;
}
.whowe__text-container {
	display: table;
	min-height: 196px;
	color: #000;
	font-size: 18px;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
}
.whowe__text {
	display: table-cell;
	vertical-align: middle;
}
.whowe__text_r {
	text-align: right;
	width: 100%;
}
.footer {
	text-align: center;
	// min-height: 190px;
	background-color: #f3f3f3;
	background-image: url(../img/bg-footer.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	padding: 67px 0 45px;
}
.contats_footer {
	float: none;
	width: 430px;
	margin: 0 auto 35px;
	padding: 0;
}
.copyright {
	font-family: "RobotoLight", sans-serif;
	font-size: 14px;
	color: #000;
}
